<?xml version="1.0" encoding="UTF-8"?>
<!-- 
<Configuration>
	<Properties>
	    <Property name="LOG_DIR">C:/citi/logs</Property>
	</Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>

        <RollingFile name="RollingFile"
            fileName="${LOG_DIR}/application.log"
            filePattern="${LOG_DIR}/application.%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                rollover on startup, daily and when the file reaches 10 MegaBytes
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Root>
		<Logger name="com.citi.atm" level="trace" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>

</Configuration>
-->
<Configuration status="warn" name="MyApp" packages="">

  <Properties>
    <Property name="LOG_DIR">C:/citi/logs</Property>
  </Properties>

  <Appenders>
    <RollingFile
      name="rollingFile"
      fileName="${LOG_DIR}/application.log"
      filePattern="${LOG_DIR}/application.%i.log.gz"
      ignoreExceptions="false">
      <PatternLayout>
          <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
      </PatternLayout>
      <Policies>
          <SizeBasedTriggeringPolicy size="10MB" />
      </Policies>
      <DefaultRolloverStrategy max="5">
        <Delete basePath="${LOG_DIR}" maxDepth="2">
          <IfFileName glob="*/app-*.log.gz" />
          <IfLastModified age="P30D" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="rollingFile"/>
    </Root>
  </Loggers>

</Configuration>